# Defining the exact version will make sure things don't break
sphinx==7.0.1
sphinx_rtd_theme
myst-parser==2.0.0
IPython
ipywidgets
nbsphinx
sphinxcontrib-napoleon
sphinx-autodoc-typehints
autodoc
cycler
sphinx-design